.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container svg {
  animation: spin infinite 0.5s linear;
}

.App {
  padding: 20px;
}

.todo-create {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.todo-input {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
}

.create-todo-btn {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 16px;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.create-todo-btn:hover {
  background-color: royalblue;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.todo-item-content {
  flex-grow: 1;
}

.todo-item-done {
  text-decoration: line-through;
}

.todo-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 600;
}

.todo-description {
  margin: 0;
  color: gray;
}

.todo-remove-btn {
  align-self: flex-start;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
