.block {
  background-color: coral;
  /* display: inline; */
}

.inline {
  background-color: dodgerblue;
  margin-top: 10px; /* doesnt work */
  margin-left: 10px; /* work */
  /* display: block; */
}

/* inline elements cannot contain block element */
