@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@font-face {
  font-family: Oswald;
  src: url(./Oswald-Regular.ttf) format("truetype");
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.first-text {
  font-family: "Fascinate", cursive;
  color: tomato;
}

.second-text {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: dodgerblue;
}

.third-text {
  font-family: Oswald;
  color: coral;
}
