body {
  padding: 20px;
}

div {
  padding: 16px;
  margin: 100px 0px;
  background-color: tomato;
  color: white;
}

.text-1 {
  transform: translate(100px, 100px);
}

.text-2 {
  transform: scale(1, 5);
}

/*https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_transform*/
